*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background: linear-gradient(#1B262C,#0F4C75) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-color{
  color: #FDCB9E;
}
.sec-color{
  color: white;
}
form{
  width: 100%;
  max-width: 500px;
}
.search{
  padding-top: 50px;
}
input[type="text"]{
  color: white;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
  border-color: #FDCB9E;
    box-shadow: none;
    text-align: center;
}
/* input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea:not(.browser-default):focus:not([readonly]){
    border-color: purple;
    box-shadow: none;
} */

/* DashBoard started */
.profile{
  padding-top: 50px;
}
.img{
  border-radius: 50%;
  border: 5px solid black;
}
.img{
  height: 200px;
  width: 200px;
}
.follo-er-ing{
  display: flex;
  align-items: center;
  justify-content: center;
}
.column{
  background-color: rgb(39, 39, 39);
  padding: 10px 15px;
  margin: 5px 2px;
}
.des{
  padding-bottom: 10px;
}
.repo-num{
  margin-top: 50px;
}
.stars{
  margin-right: 10px;
}
.star-fork{
  padding-bottom: 10px;
}
.back-btn{
  margin-top: 20px;
  background-color: orange;
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
