*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  height: 100vh;
  background: linear-gradient(#1B262C,#0F4C75) center no-repeat;
  background-size: cover;
}
.search{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-body{
  margin-bottom: 100px;
}
.main-color{
  color: #FDCB9E;
}
.sec-color{
  color: white;
}
input[type="text"]{
  color: white;
}